.filterMovies {
	margin: 10px 0;
}

.filterForm {
	display: flex;
	flex-wrap: wrap;
}

.filterSelect {
	border: 1px solid #4c4c4c;
	background: #303030;
	color: #fff;
	outline: none;
	padding: 5px;
	font-size: 13px;
}

.filterItems {
	margin-right: 10px;
}

@media (max-width: 800px) {
	.filterItems {
		margin: 5px;
	}
}

.filterButtonSubmit {
	border: 1px solid #4c4c4c;
	background: #ff4c00;
	width: 100px;
  color: #fff;
	font-size: 13px;
  padding: 0 2px;
	height: 100%;
}
